<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
        <div class="row">
            <form class="woocommerce-ordering" action="/category" method="POST">
                <select id="category_name" name="orderby" class="orderby">
                    <option value="menu_order" selected="selected">ทั้งหมด</option>
                    <option value="vegetable">ผัก</option>
                    <option value="fruit">ผลไม้</option>
                </select>
            </form>
            
            <% if (prods.length > 0) { %>

                <% prods.map((product, index) => { %>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="<%- '/'+product._id%>" class="img-prod"><img class="img-fluid" src=" <%- product.img_path%>" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#"> <%- product.product_name%></a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span> <%- product.price%></span></p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                    <span><i class="ion-ios-menu"></i></span>
                                </a>
                                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                    <span><i class="ion-ios-cart"></i></span>
                                </a>
                                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                    <span><i class="ion-ios-heart"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="4">
                                            <h1>No Products Found!</h1>
                                        </td>
                                    </tr>
                                    <% } %>
        </div>
    </div>
<!--     
            <div class="row">
                <div class="col-md-10">
                    <input class="form-control" id="myInput" type="text" placeholder="Search..">
                </div>
                <div class="col-md-2">
                    <a href="/products/insert" class="btn btn-primary btn-block"><i class="fa fa-plus" aria-hidden="true"></i> New Product</a>
                </div>
            </div>
            <br>
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    <% if (prods.length > 0) { %>

                        <% prods.map((product, index) => { %>
                            <tr>
                                <td>
                                    <%- (index+1) %>
                                </td>
                                <td>
                                    <%- product.product_name%>
                                </td>
                                <td>
                                    <%- product.price%>
                                </td>
                                <td>
                                    <a href="<%- '/products/update/'+product._id%>" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                                    <a href="<%- '/products/delete/'+product._id%>" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-danger"> <i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                </td>
                            </tr>
                            <% }) %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="4">
                                            <h1>No Products Found!</h1>
                                        </td>
                                    </tr>
                                    <% } %>
                </tbody>
            </table> -->

            <%- include('../includes/end.ejs') %>